<% content_for :status_bar do %>
  <h2><%= status_bar_context %></h2>
  <div id="links">
    <%= link_to_index t('index_institutions'), institutions_path %>
  </div>
<% end %>

<div id="record-main" class="span9">
  <h3 class="section"><%= t('identification_area') %></h3>
  <table class="table-show">
    <tr>
      <th><%= t('institution_name') %></th>
      <td><%= @institution.name %></td>
    </tr>
    <tr>
      <th><%= t('institution_description') %></th>
      <td><%= textilize(@institution.description) %></td>
    </tr>
    <tr>
      <th><%= t('institution_note') %></th>
      <td><%= @institution.note %></td>
    </tr>
  </table>


<%= render :partial => "shared/show_editors", :locals => { :label => 'institution_editor' }, :object => @institution.institution_editors %>

</div>

<%= render :partial => "shared/side", :object => @institution %>
