<div class="fields row">
  <div class="span3">
    <%= ff.text_field :autn, :class => "span3"  %>
  </div>
  <div class="span3">
    <%= iccd_terms_select(ff, "iccd_authors.autm", @iccd_type, {}, {:class => "span3 " + @iccd_type })%>
  </div>
  <div class="span2">
    <%= iccd_terms_select(ff, "iccd_authors.autk", @iccd_type, {}, {:class => "span2 " + @iccd_type}) %>
  </div>
  <div class="span1 destroy"><%= ff.check_box :_destroy %> <%= ff.label :_destroy, t('destroy') %></div>
</div>