<div id="tab-identification" class="BDM tab-pane active">
<%# FIXME: codice attuale impedisce che venga triggerato correttamente askCofirm if form unsaved %>
  <div class="row">
    <div id="unit-path-wrapper" class="span9">
      <div class="well">
        <%= render :partial => 'full_path_controls', :object => @unit %>
        <h3 id="unit-path-title"><%= t('unit_full_path') %></h3>
        <p id="unit-path-content">
          <%= render :partial => 'full_path', :locals => {:unit => @unit, :full_path => @full_path} %>

          <% if @unit.is_root? %>
          <div id="unit-path-tree-wrapper">
            <div id="unit-path-tree">
  <%# filled by jsTree %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <% f.fields_for :iccd_description do |id_form| %>
    <div class="row">
      <div class="span3">
        <%= f.label :unit_type, t('unit_type') %>
        <%= terms_select(f, "units.unit_type", {:selected => "unità documentaria"}, :disabled => true, :class => "span3") %>
      </div>
      <div class="span6">
        <label>OGTD (definizione dell'oggetto)</label>
        <%= id_form.text_field  :ogtd,
          :class => "autocomplete span6",
          :'data-autocompletion-controller' => "units",
          :'data-autocompletion-action' => "list_bdm_ogtd" %>
      </div>
    </div>

    <label>ESC (ente schedatore)</label>
    <%= id_form.text_field :esc, :class => "span9" %>
  <% end %>

  <div id="iccd_subjects" class="row">
    <div class="span9">
      <h3 class="row-header">Soggetti</h3>
      <div class="row">
        <div class="span3">SGTI (identificazione)</div>
      </div>
      <% f.fields_for :iccd_subjects do |iccds_form| %>
        <%= render :partial => "units/iccd/subject", :locals => { :fx => iccds_form } %>
      <% end %>
      <p><%= add_child_link t('new_iccd_subject'), "iccd_subjects" %></p>
    </div>
  </div>

  <label>SGTL/SGTA (titolo proprio o attribuito)</label>
  <%= f.text_field :title, :class => "span9" %><br /><%= t('unit_given_title') %> <%= f.check_box :given_title %>

  <%= render :partial => "events/form", :locals => {:entity_form => f, :events => @events} %>

  <div id="iccd_authors" class="row">
    <div class="span9">
      <h3 class="row-header">AU (autori)</h3>
      <div class="row">
        <div class="span3">AUFN (autore)</div>
        <div class="span3">AUFM (attribuzione)</div>
        <div class="span2">AUFK (qualifica)</div>
      </div>
      <% f.fields_for :iccd_authors do |iccda_form| %>
        <%= render :partial => "units/iccd/author", :locals => { :ff => iccda_form } %>
      <% end %>
      <p><%= add_child_link t('new_iccd_author'), "iccd_authors" %></p>
    </div>
  </div>

  <div id="iccd_tu" class="row">
    <div class="span9">
      <h3 class="row-header">TU (condizione giuridica)</h3>
      <div class="row">
        <div class="span3">
          <label>CDGG (indicazione generica)</label>
          <% if @custodian.present? && @custodian.legal_status? %>
            <%= select_tag "fake", options_for_select([t(@custodian.legal_status)]), {:disabled => true, :class => "span3"} %>
          <% else %>
            <%= select_tag "fake", options_for_select(""), {:include_blank => true, :disabled => true, :class => "span3" } %>
          <% end %>
        </div>
        <div class="span6">
          <label>CDGS (indicazione specifica)</label>
          <% if @custodian.present? && @custodian.custodian_type.present? %>
            <%= select_tag "fake", options_for_select([@custodian.custodian_type.custodian_type]), {:disabled => true, :class => "span6"} %>
          <% else %>
            <%= select_tag "fake", options_for_select(""), {:include_blank => true, :disabled => true, :class => "span6" } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <label>UBFP (fondo)</label>
  <%= text_field_tag "", @fond.name, :disabled => true, :class => "span9" %>
  <h3 class="row-header">UBFC (collocazione)</h3>
  <div class="row">
    <div class="span3"><%= f.label :tmp_reference_number, t('tmp_reference_number') %></div>
    <div class="span6"><%= f.label :tmp_reference_string, t('tmp_reference_string') %></div>
  </div>
  <div class="row">
    <div class="span3"><%= f.text_field :tmp_reference_number, :class => "span3" %></div>
    <div class="span6"><%= f.text_field :tmp_reference_string, :class => "span6" %></div>
  </div>
  <div class="row">
    <div class="span3"><%= f.label :folder_number, t('folder_number') %></div>
    <div class="span3"><%= f.label :file_number, t('file_number') %></div>
    <div class="span1">&nbsp;</div>
    <div class="span2"><%= f.label :reference_number, t('reference_number') %></div>
  </div>
  <div class="row">
    <div class="span3"><%= f.text_field :folder_number, :class => "span3" %></div>
    <div class="span3"><%= f.text_field :file_number, :class => "span3" %></div>
    <div class="span1"><%= link_to t('create_reference_number'), '#', :id => 'create_reference_number', :class => 'btn btn-small' %></div>
    <div class="span2"><%= f.text_field :reference_number, :class => "span2"  %></div>
  </div>
</div> <%# /tab-identification %>

<div id="tab-description" class="BDM tab-pane">
  <% f.fields_for :iccd_description do |id_form| %>
    <label>DESS (descrizione del soggetto)</label>
    <%= id_form.text_area :sgtd, :class => "textile short-content span9" %>
  <% end %>

  <label>DESO (indicazioni sull'oggetto)</label>
  <%= f.text_area :physical_description, :class => "textile short-content span9" %>
</div>  <%# /tab-description %>

<div id="tab-localization" class="BDM tab-pane">
  <% f.fields_for :iccd_description do |id_form| %>
    <label>PVCC / PVCP (Comune Provincia)</label>
    <%= id_form.text_field  :pvc,
      :class => "autocomplete span9",
      :'data-autocompletion-controller' => "places",
      :'data-autocompletion-action' => "list" %>

    <label>LCDN (Denominazione collocazione)</label>
    <%= id_form.text_field  :ldcn,
      :class => "autocomplete span9",
      :'data-autocompletion-controller' => "custodians",
      :'data-autocompletion-action' => "list" %>

    <label>LCDU (Denominazione spazio viabilistico)</label>
    <%= id_form.text_field :ldcu, :class => "span9" %>

    <label>LDCM (Denominazione raccolta)</label>
    <%= id_form.text_field :ldcm, :class => "span9" %>
  <% end %>
</div> <%# /tab-localization %>

<div id="tab-techdata" class="BDM tab-pane">
  <% f.fields_for :iccd_tech_spec do |it_form| %>
    <div class="row">
      <div class="span4">
        <label>MTCM (materia)</label>
        <%= it_form.text_field  :mtcm,
          :class => "autocomplete span4",
          :'data-autocompletion-controller' => "units",
          :'data-autocompletion-action' => "list_bdm_mtcm" %>
      </div>
      <div class="span4">
        <label>MTCT (tecnica)</label>
        <%= it_form.text_field  :mtct,
          :class => "autocomplete span4",
          :'data-autocompletion-controller' => "units",
          :'data-autocompletion-action' => "list_bdm_mtct" %>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <label>MISU (unità di misura)</label>
        <%= iccd_terms_select(it_form, "iccd_tech_specs.misu", "BDM", {:include_blank => ""}, {:id => "tsk", :class => "span2"})%>
      </div>
      <div class="span2">
        <label>MISA (altezza)</label>
        <%= it_form.text_field :misa, :class => "span2"  %>
      </div>
      <div class="span2">
        <label>MISL (larghezza)</label>
        <%= it_form.text_field :misl, :class => "span2"  %>
      </div>
      <div class="span2">
        <label>MISS (spessore)</label>
        <%= it_form.text_field :miss, :class => "span2"  %>
      </div>
    </div>
  <% end %>

  <%= f.label :preservation, 'STCC (stato di conservazione)' %>
  <%= terms_select(f, "units.preservation", {:include_blank => true}, {:class => "span3"}) %>

  <% f.fields_for :iccd_description do |id_form| %>
    <h3 class="row-header">UT (uso)</h3>

    <label>UTF (funzione)</label>
    <%= id_form.text_field :utf, :class => "span9" %>

    <label>UTO (occasione)</label>
    <%= id_form.text_field :uto, :class => "span9" %>
  <% end %>
</div>

<div id="tab-editors" class="BDM tab-pane">
  <div id="unit_editors" class="row">
    <% @unit_editors = build_or_retrieve(f.object.unit_editors) %>
    <div class="span9 row-header">
      <a class="btn btn-mini pull-right" data-toggle="modal" href="#add_editor_modal">  <%= t('new_editor') %>  </a>
      <h3 class="row-header"><%= t('unit_editors') %></h3>
    </div>
    <div class="span9">
      <div class="row">
        <%= f.label :editor, t('unit_editor'), :class => "span3" %>
        <%= f.label :editing_type, t('editing_type'), :class => "span3" %>
        <%= f.label :edited_at, t('edited_at'), :class => "span2"  %>
      </div>
      <% f.fields_for :unit_editors do |dfe_form| %>
        <%= render :partial => "shared/editor", :locals => { :f => dfe_form } %>
      <% end %>
      <p><%= add_child_link t('add_editor'), "unit_editors" %></p>
    </div>
  </div>
</div>