<% content_for :status_bar do %>
  <h2><%= status_bar_context %></h2>
  <% if current_user.is_superadmin? %>
    <div id="links">
      <%= link_to "Vai alla lista gruppi", groups_path %>
    </div>
  <% end %>
<% end %>

<div class="span12">
<div id="index-controls">
  <%= link_to t('new'), new_user_path, { :class => "btn btn-small new" } %>
</div>
<p>
  <%= link_to_unless(params[:view].nil?, "Attivi", users_path) %>
  <span class='muted'>(<%= @active_users.length %>)</span> |
  <%= link_to_unless(params[:view] == "inactive" || @inactive_users.length == 0, "Non attivi", users_path(:view => "inactive")) %>
  <span class='muted'>(<%= @inactive_users.length %>)</span>
</p>

<table class="table table-striped">
  <thead>
  <tr>
    <th class="span3"><%= t('devise.attributes.group_id') %></th>
    <th class="span2"><%= t('devise.attributes.username') %></th>
    <th class="span3"><%= t('devise.attributes.full_name') %></th>
    <th class="span2"><%= t('devise.attributes.role') %></th>
    <th class="span1">&nbsp;</th>
  </tr>
  </thead>
  <tbody>
    <%= render :partial => "user", :collection => params[:view] == "inactive" ? @inactive_users : @active_users %>
  </tbody>
</table>
</div>

