<div class="fields row">
  <div class="span3">
    <%= f.text_field :identifier, :class => "span3" %>
  </div>
  <div class="span2">
    <%= f.text_field :identifier_source, :class => "span2" %>
  </div>
  <div class="span3">
    <%= f.text_field :note, :class => "span3" %>
  </div>
  <div class="span1 destroy">
    <%= f.check_box :_destroy %> <%= f.label :_destroy, t('destroy') %>
  </div>
</div>