<div id="record-side" class="span3">
  <div class="well">
    <div id="side-primary-actions" class="clearfix">
      <% if action_name == "show" %>
        <%= link_to t('edit'), edit_object_path(object), :class => "btn pull-left" %>
      <% elsif action_name == "show_iccd" %>
        <%= link_to t('edit'), edit_iccd_unit_path(@unit, :t => "#{@unit.tsk}"), :class => "btn pull-left" %>
      <% elsif action_name == "edit_iccd" %>
        <%= submit_tag " " + t('save_and_continue') + " ", :name => "save_and_continue_iccd", :class => "btn btn-primary pull-left" %>
      <% else %>
        <%= submit_tag " " + t('save_and_continue') + " ", :name => "save_and_continue", :class => "btn btn-primary pull-left" %>
      <% end %>

      <% unless %w[new create].include?(action_name) %>
        <%= link_to t('destroy'), object, :confirm => t('are_you_sure'), :method => :delete, :class => "destroy-link pull-right"%>
      <% end %>
    </div>
    <hr />

<%# NOTE: dubbio che vada bene qui e non nella status-bar come prima %>
    <% if controller_name == "units" %>
      <% if %w[edit update show edit_iccd update_iccd show_iccd].include?(action_name) %>
        <div id="side-nav" class="clearfix">
          <%= prev_or_next_link("left", @unit.prev_in_sequence, action_name) %>
          <span class="nav-counter">
            <%= number_with_delimiter(@unit.sequence_number) %> di <%= number_with_delimiter(@root_fond.active_descendant_units_count) %>
          </span>
          <%= prev_or_next_link("right", @unit.next_in_sequence, action_name) %>
        </div>
        <hr />
      <% end %>

      <div>
        <p><strong><%= @unit.level_type %></strong></p>
        <% unless @unit.is_root? %>
          <p>Fa parte di:<br />
            <% @unit.ancestors.each do |ancestor| %>
              <%= link_to ancestor.title, edit_unit_path(ancestor) %> &gt;
            <% end %>
          <% end %>
        </p>
      </div>
      <hr />
    <% end %>

    <% if (controller_name != "digital_objects") && (action_name != "show") && (action_name != "show_iccd") %>
      <div id="side-secondary-actions" class="clearfix">
        <% if %w[new_iccd edit_iccd show_iccd].include?(action_name) %>
          <%= submit_tag t('preview'), :name => "show_iccd", :class => "btn btn-small pull-left" %>
        <% else %>
          <%= submit_tag t('preview'), :class => "btn btn-small pull-left" %>
        <% end %>
  <%# FIXME - DRY %>
        <% if controller_name == "units" %>
          <% if @unit.new_record? %>
            <%= submit_tag "+ " + t('new'), :class => "btn btn-small pull-right disabled" %>
          <% else %>
            <% if %w[new_iccd edit_iccd show_iccd].include?(action_name) == true %>
              <%= submit_tag "+ " + t('new'), :name => "save_and_add_new_iccd", :class => "btn btn-small pull-right" %>
            <% else %>
              <%= submit_tag "+ " + t('new'), :name => "save_and_add_new", :class => "btn btn-small pull-right" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
  <%# FIXME - dirty %>
      <% unless (controller_name == "sources") %>
        <hr />
      <% end %>
    <% end %>

    <% if controller_name =="sources" && %w[edit update].include?(action_name) %>
      <% if @source.db_source.present? %>
        <p><strong>Descrizione importata</strong></p>
        <p><em>ID</em>: <%= @source.legacy_id %><br />
          <em>Descrizione</em>: <%= h @source.legacy_description %></p>
      <% end %>
      <% if @source.legacy_authors.present? %>
        <p><em>Autori / curatori</em>:</p>
        <ul>
          <% @source.legacy_authors.split("#").each do |la| %>
            <li><%= la %></li>
          <% end %>
        </ul>
      <% end %>
      <% if @source.db_source.present? || @source.legacy_authors.present? %>
        <hr />
      <% end %>
    <% end %>

    <% if controller_name =="units" && %w[new_iccd edit_iccd].include?(action_name) %>
      <% if @unit.new_record? %>
        <% target_link = @unit.is_root? ? new_fond_unit_path : new_unit_child_path %>
        Vai alla <%= link_to 'scheda normale', target_link %>
      <% else %>
        Vai alla <%= link_to 'scheda normale', edit_unit_path(@unit, :t => @unit.tsk) %>
      <% end %>
      <hr />
    <% end %>

    <% if controller_name == "units" && %w[new edit].include?(action_name) %>
      <% if @unit.new_record? %>
        <% target_link = @unit.is_root? ? new_iccd_fond_units_path : new_iccd_unit_children_path %>
        Vai alla <%= link_to 'scheda speciale', target_link %>
      <% else %>
        Vai alla <%= link_to 'scheda speciale', edit_iccd_unit_path(@unit, :t => @unit.tsk) %>
      <% end %>
      <hr />
    <% end %>

    <div id="side-meta">
      <% if object.new_record? %>
        <%= t('unsaved_record') %>
      <% else %>
        <dl id="updater">
          <dt><%= t('updated_by') %></dt>
          <dd><%= object.updater.full_name %></dd>
          <dt><%= t('updated_at') %></dt>
          <dd><%= l object.updated_at, :format => :long %></dd>
        </dl>
      <% end %>
    </div>

  </div> <%# /well %>

<%# digital_objects %>
  <% if %w[fonds units creators custodians sources].include?(controller_name) %>
    <% if IM_ENABLED %>
      <div class="well">
        <% if %w[new create new_iccd].include?(action_name) %>
          <span class="muted"><%= t('digital_objects') %></span>
        <% else %>
          <%= link_to_digital_objects_by_count(object.digital_objects.count, t('digital_objects'), object) %>
          <%= link_to_digital_objects_by_count(object.digital_objects.count, object.digital_objects.count, object, :class => "badge") unless object.digital_objects.count == 0 %>
        <% end %>
      </div>
    <% else %>
      <div id="digital-objects-warning" class="well">
        <span class="muted"><%= t('digital_objects') %></span>
      </div>
    <% end %>
  <% end %>

<%# headings %>
  <% if %w[fonds units].include?(controller_name) %>
    <div class="well" id="heading">
      <% if %w[new create].include?(action_name) %>
        <span class="muted"><%= t('headings') %></span>
      <% else %>
        <h3><%= t('headings') %></h3>
        <div>
          <p>
            <%= link_to t('new_heading'), "#",
              {:id => "add-heading-modal", :class => "btn btn-mini new",
              :'data-id' => object.id, :'data-controller' => controller_name} %>
            <%= link_to t('link_heading'), "#",
              {:id => "link-heading-modal", :class => "btn btn-mini",
              :'data-id' => object.id, :'data-controller' => controller_name} %>
          </p>
          <div style="overflow-y: auto; max-height:60px; background: #fff;" id="heading-list" data-id="<%= object.id %>" data-controller="<%= controller_name %>"></div>
        </div>
      <% end %>
    </div>
  <% end %>

</div> <%# /record-side %>

