<% content_for :status_bar do %>
  <h2><%= t('listing_imports') %></h2>
<% end %>

<div class="span12">
  <div id="index-controls">
    <%= link_to t('new_import'), new_import_path, { :class => "btn btn-small new" } %>
  </div>

  <% if @imports.empty? %>
    <p>Nessun database importato.</p>
  <% else %>
    <table class="table">
      <thead>
        <tr>
          <th>Base dati</th>
          <th>Importata da</th>
          <th>Data</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @imports.each do |import| %>
          <tr>
            <td>
              <%= t(import.importable_type.downcase) %>:
              <%= link_to import.importable.display_name, polymorphic_path([import.importable]) %>
            </td>
            <td><%= import.user.full_name %></td>
            <td><%= l import.created_at, :format => :long %></td>
            <td class="action">
              <% if import.deletable? %>
                <%= link_to t('destroy'), '#', {:class => 'delete-import', "data-import-id".to_sym => import.id} %>
              <% else %>
                non cancellabile
              <%end%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="modal hide fade" id="confirm-delete-import">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Elimina importazione</h3>
      </div>
      <div class="modal-body">
        <p>Sei sicuro di voler eliminare definitivamente tutti gli elementi di questa importazione?</p>
        <p class="muted">Saranno eliminate tutte le schede importate, comprese le modifiche successive.</p>
        <p class="muted">Non puoi annullare questa azione.</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal"><%= t('cancel') %></button>
        <button id="confirm-delete-btn" class="btn btn-danger"><%= t('destroy') %></button>
      </div>
    </div>

  <% end %>
</div>

