<% content_for :javascripts do %>
  <%= javascript_include_tag "relations" %>
  <%= javascript_include_tag "live_search" %>
  <%= javascript_include_tag "sources" %>
  <%= javascript_include_tag "creators" %>
<% end %>

<%= render :partial => "shared/generic_error_message", :object => @creator %>

<% form_for @creator do |f|  %>

  <div id="record-main" class="span9">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-identification" data-toggle="tab"><%= t('identification_area') %></a></li>
        <li><a href="#tab-description" data-toggle="tab"><%= t('description_area') %></a></li>
        <li><a href="#tab-relations" data-toggle="tab"><%= t('relationships_area')%></a></li>
        <li><a href="#tab-sources" data-toggle="tab"><%= t('sources_area')%></a></li>
        <li><a href="#tab-credits" data-toggle="tab"><%= t('editors')%></a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="tab-identification">
          <div class="row">
            <div class="span2">
              <%= f.label :creator_type, t('creator_type') %>
              <%= terms_select(f, "creators.creator_type", { :class => "span2", :selected => params[:type] }) %>
            </div>
            <div class="span5">
              <%= f.label :creator_corporate_type, t('creator_corporate_type'), {:class => "hide"} %>
              <%= select( "creator", "creator_corporate_type_id",
                CreatorCorporateType.all.collect {|p| [ p.corporate_type.capitalize, p.id ] },
                {:include_blank => false,
                  :selected => @creator.creator_corporate_type_id},
                :class => "hide span5") %>
            </div>
          </div>

          <div id="preferred_name_cf" class="row">
            <% @preferred_name = f.object.preferred_name || f.object.build_preferred_name %>
            <div class="span9">
              <h3 class="row-header"><%= t('preferred_name') %></h3>
              <div class="row row-labels">
                <div class="span6"><%= t('name') + required_marker %></div>
                <div class="span3"><%= t('note') %></div>
              </div>
              <% f.fields_for :preferred_name do |cf_form| %>
                <%= render :partial => "creator_name_cf", :locals => { :f => cf_form } %>
              <% end %>
            </div>
          </div> <%# preferred_name_cf %>

          <div id="preferred_name_p" class="row">
            <% @preferred_name = f.object.preferred_name || f.object.build_preferred_name %>
            <div class="span9">
              <h3 class="row-header"><%= t('preferred_name') %></h3>
              <div class="row row-labels">
                <div class="span3"><%= t('first_name') + required_marker %></div>
                <div class="span3"><%= t('last_name') + required_marker %></div>
                <div class="span3"><%= t('note') %></div>
              </div>
              <% f.fields_for :preferred_name do |p_form| %>
                <%= render :partial => "creator_name_p", :locals => { :f => p_form } %>
              <% end %>
            </div>
          </div> <%# preferred_name_p %>

          <div id="other_names" class="row">
            <% @other_names = build_or_retrieve(f.object.other_names) %>
            <div class="span9">
              <h3 class="row-header"><%= t('other_names') %></h3>
              <div class="row row-labels">
                <div class="span3"><%= t('name') %></div>
                <div class="span3"><%= t('qualifier') %></div>
                <div class="span2"><%= t('note') %></div>
              </div>
              <% f.fields_for :other_names do |on_form| %>
                <%= render :partial => "creator_other_name", :locals => { :f => on_form } %>
              <% end %>
              <p><%= add_child_link t('new_name'), "other_names" %></p>
            </div>
          </div>  <%# other_names %>

          <%= render :partial => "events/form", :locals => {:entity_form => f, :events => @events} %>

          <div id="creator_legal_statuses" class="row hide">
            <% @creator_legal_statuses = build_or_retrieve(f.object.creator_legal_statuses) %>
            <div class="span9">
              <h3 class="row-header"><%= t('creator_legal_statuses') %></h3>
              <div class="row row-labels">
                <label class="span3"><%= t('creator_legal_status') %></label>
                <label class="span5"><%= t('note') %></label>
              </div>
              <% f.fields_for :creator_legal_statuses do |cls_form| %>
                <%= render :partial => "creator_legal_status", :locals => { :f => cls_form } %>
              <% end %>
              <p><%= add_child_link t('new_legal_status'), "creator_legal_statuses" %></p>
            </div>
          </div> <%# /creator_legal_statuses %>

          <div id="creator_residence">
            <%= f.label :residence, t('residence') %>
            <%= f.text_field  :residence,
              :class => "autocomplete span5",
              :'data-autocompletion-controller' => "places",
              :'data-autocompletion-action' => "list" %>
          </div> <%# creator_residence %>

          <div id="creator_urls" class="row">
            <% @creator_urls = build_or_retrieve(f.object.creator_urls) %>
            <div class="span9">
              <h3  class="row-header"><%= t('creator_urls') %></h3>
              <div class="row row-labels">
                <div class="span5"><%= t('url') %></div>
                <div class="span3"><%= t('note') %></div>
              </div>
              <% f.fields_for :creator_urls do |cf_form| %>
                <%= render :partial => "creator_url", :locals => { :f => cf_form } %>
              <% end %>
              <p><%= add_child_link t('new_url'), "creator_urls" %></p>
            </div>
          </div> <%# creator_urls %>

          <div id="creator_identifiers" class="row">
            <% @creator_identifiers = build_or_retrieve(f.object.creator_identifiers) %>
            <div class="span9">
              <h3  class="row-header"><%= t('creator_identifiers') %></h3>
              <div class="row row-labels">
                <div class="span3"><%= t('identifier') %></div>
                <div class="span2"><%= t('identifier_source') %></div>
                <div class="span3"><%= t('note') %></div>
              </div>
              <% f.fields_for :creator_identifiers do |cf_form| %>
                <%= render :partial => "creator_identifier", :locals => { :f => cf_form } %>
              <% end %>
              <p><%= add_child_link t('new_identifier'), "creator_identifiers" %></p>
            </div>
          </div> <%# creator_identifiers %>

        </div> <!-- /tab-identification -->

        <div class="tab-pane" id="tab-description">
          <%= f.label :abstract, t('abstract') %>
          <%= f.text_area :abstract, :class => "span9 textile medium-content wordcount", :"data-count" =>"abstract-1000" %>
          <span class="counter" id="counter-abstract">&nbsp;</span>

          <%= f.label :history, t('creator_history') %>
          <%= f.text_area :history, :class => "span9 textile long-content" %>
          <span class="counter" id="counter-history">&nbsp;</span>

          <%= f.label :note, t('creator_note') %>
          <%= f.text_area :note, :class => "short-content span9" %>

          <div id="creator_activities" class="row">
            <% @creator_activities = build_or_retrieve(f.object.creator_activities) %>
            <div class="span9">
              <h3  class="row-header"><%= t('creator_activities') %></h3>
              <div class="row row-labels">
                <div class="span4"><%= "Funzione o occupazione" %></div>
                <div class="span4"><%= t('note') %></div>
              </div>
              <% f.fields_for :creator_activities do |ca_form| %>
                <%= render :partial => "creator_activity", :locals => { :f => ca_form } %>
              <% end %>
              <p><%= add_child_link t('new_activity'), "creator_activities" %></p>
            </div>
          </div> <%# creator_activities %>
        </div> <!-- /tab-description -->

        <div class="tab-pane" id="tab-relations">
          <%= render_relation_for f, :fonds, @rel_creator_fonds,
            :selected_label => lambda{|rel_creator_fond| h rel_creator_fond.fond.try(:name_with_preferred_date) },
            :suggested_label => lambda{|fond| h fond.try(:name_with_preferred_date) } %>

          <%= render_relation_for f, :institutions, @rel_creator_institutions,
            :selected_label => lambda{|rel_creator_institution| h rel_creator_institution.institution.try(:name) },
            :suggested_label => lambda{|institution| h institution.try(:name) } %>

          <%= render_relation_for f, :related_creators, @rel_creator_creators,
            :autocompletion_controller => :creators,
            :foreign_key => "related_creator_id",
            :selected_label => lambda{|rel_creator_creator| h rel_creator_creator.related_creator.try(:name_with_preferred_date) },
            :suggested_label => lambda{|related_creator| h related_creator.try(:name_with_preferred_date) },
            :fields_before => "shared/relations/creator_creators",
            :excluded_ids => @creator.related_creator_ids << @creator.id %>
        </div> <!-- /tab-relations -->

        <div class="tab-pane" id="tab-sources">
          <%= render_relation_for f, :sources, @rel_creator_sources,
            :variant => 'livesearch',
            :selected_label_full => lambda{|rel_creator_source| formatted_source(rel_creator_source.source)  },
            :selected_label_short => lambda{|rel_creator_source| h rel_creator_source.source.short_title } %>
        </div> <!-- /tab-sources -->

        <div class="tab-pane" id="tab-credits">
          <div id="creator_editors" class="row">
            <% @creator_editors = build_or_retrieve(f.object.creator_editors) %>
            <div class="span9 row-header">
              <a id="add-editor-modal" class="btn btn-mini pull-right" href="#">  <%= t('new_editor') %></a>
              <h3 class="row-header"><%= t('creator_editors') %></h3>
            </div>

            <div class="span9">
              <%= render :partial => "shared/editors_labels", :locals => { :f => f } %>

              <% f.fields_for :creator_editors do |dfe_form| %>
                <%= render :partial => "shared/editor", :locals => { :f => dfe_form } %>
              <% end %>
              <p><%= add_child_link t('add_editor'), "creator_editors" %></p>
            </div>
          </div>
        </div> <!-- /tab-credits -->
      </div> <!-- /tab-content -->
    </div> <!-- /tab-tabbbable -->
  </div>

  <%= render :partial => "shared/side", :object => @creator %>

<% end %>
<div id="add-editor-container"></div>
<%#= render :partial => "editors/new_editor" %>