<% content_for :status_bar do %>
  <h2><%= t('listing_units') %>:
    <% @unit.fond.path_items.each do |item| %>
      <%= link_to item.name, fond_units_path(item.id) %><%= path_separator %>
    <% end %>
    Modifica scheda
  </h2>
  <div id="links">
    <%= link_to_index "Lista unità del livello", fond_units_path(@unit.fond_id) %>
  </div>
<% end %>

<%= render :partial => "form" %>
