<% content_for :status_bar do %>
  <h2><%= t('listing_units') %>:
    <% if @fond %>
      <% @fond.path_items.each do |item| %>
        <%= link_to item.name, fond_units_path(item.id) %><%= path_separator %>
      <% end %>
    <% end %>
    Nuova scheda
  </h2>
  <div id="links">
    <% if @fond %>
      <%= link_to_index "Lista unità del livello", fond_units_path(@fond.id) %>
    <% end %>
  </div>
<% end %>

<%= render :partial => "units/iccd/form" %>

