<% content_for :status_bar do %>
  <h2>Report complesso archivistico<%= path_separator %><%= link_to @root_fond.name, dashboard_report_path %><%= path_separator %>Inventario</h2>
  <div id="links">
    <%= link_to_index "Report", reports_path %>
  </div>
<% end %>
<div class="span9">
  <div id="index-controls">
    <%= link_to '<i class="icon-download-alt"></i> Genera RTF', inventory_report_path(@root_fond, :format => "rtf"), {:class => "rtf-inventory btn btn-small"} %>
    <%= link_to '<i class="icon-download-alt"></i> Genera PDF', inventory_report_path(@root_fond, :format => "pdf"), {:class => "pdf btn btn-small"} %>
  </div>

  <div id="cover" class="pb_after">
    <h1>
      <%= @root_fond.name %>
      <% if @root_fond.preferred_event.present? %>
        <span class="date"><%= @root_fond.preferred_event.full_display_date %></span>
      <% end %>
    </h1>
  </div>

  <% @fonds.each do |fond| %>
    <div class="fond pbi_avoid">
      <h2>
        <%= fond.name %>
        <% if fond.preferred_event.present? %>
          <span class="date"><%= fond.preferred_event.full_display_date %></span>
        <% end %>
      </h2>

      <% if fond.custodians.present? %>
        <h3><%= Custodian.human_name %></h3>
        <% fond.custodians.each do |custodian| %>
          <h4><%= custodian.display_name %></h4>
          <% @custodian_printable_attributes.each do |attribute| %>
            <% methods = attribute.split('.') %>
            <% if custodian.send(methods[0].to_sym).present? %>
              <h5><%= t(methods[0]) %></h5>
              <% if attribute.include?('.') %>
                <% text = custodian.send(methods[0].to_sym).send(methods[1].to_sym).to_s %>
              <% else %>
                <% if attribute == 'legal_status' %>
                  <% text = t(custodian.send(attribute.to_sym).to_s) %>
                <% else %>
                  <% text = custodian.send(attribute.to_sym).to_s %>
                <% end %>
              <% end %>
              <%= textilize_with_entities(text) %>
            <% end %>
          <% end %>
          <% if custodian.custodian_contacts.present? %>
            <% contacts = Array.new %>
            <div>
              <h5><%= t("contacts") %></h5>
              <% custodian.custodian_contacts.each do |contact| %>
                <% contacts.push("#{Custodian.human_attribute_name(contact.contact_type)}: #{contact.contact}") %>
              <% end %>
              <%= contacts.join(', ') %>
            </div>
          <% end %>
        <% end %>
        <hr />
      <% end %>

      <% if fond.creators.present? %>
        <h3><%= Creator.human_name({:count => fond.creators.size}) %></h3>
        <% fond.creators.each do |creator| %>
          <h4><%= creator.display_name %></h4>
          <% @creator_printable_attributes.each do |attribute| %>
            <% methods = attribute.split('.') %>
            <% if creator.send(methods[0].to_sym).present? %>
              <h5><%= t(methods[0]) %></h5>
              <% if attribute.include?('.') %>
                <% text = creator.send(methods[0].to_sym).send(methods[1].to_sym).to_s %>
              <% else %>
                <% if attribute == 'creator_type' %>
                  <% text = t(creator.send(attribute.to_sym).to_s) %>
                <% else %>
                  <% text = creator.send(attribute.to_sym).to_s %>
                <% end %>
              <% end %>
              <%= textilize_with_entities(text) %>
            <% end %>
          <% end %>
          <% if creator.creator_legal_statuses.present? %>
            <h5><%= t('creator_legal_status')%></h5>
            <ul>
              <% creator.creator_legal_statuses.each do |cls| %>
                <li><%= show_item(cls.legal_status, ['', ''], "t") %> <%= show_item(cls.note, ["[","]"]) %></li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
        <hr />
      <% end %>

      <%  @fond_printable_attributes.each do |attribute| %>
        <%  methods = attribute.split('.') %>
        <%  if fond.send(methods[0].to_sym).present? && fond.send(methods[0].to_sym) != 0 %>
          <div>
      <%# FIXME: hack provvisorio %>
            <% string = methods[0].to_s == "description" ? "Contenuto" : t(methods[0]) %>
            <h5><%= string %></h5>
            <%  if attribute.include?('.') %>
              <%  text = fond.send(methods[0].to_sym).send(methods[1].to_sym).to_s %>
            <% else %>
              <%  text = fond.send(attribute.to_sym).to_s %>
            <% end %>
            <%=  textilize_with_entities(text) %>
          </div>
        <% end %>
      <% end %>

      <% if fond.sources.present? %>
        <div>
          <h5><%= Source.human_name({:count => fond.sources.size}) %></h5>
          <% fond.sources.each do |source| %>
            <p>
              <em><%= source.short_title %></em>
              <%= formatted_source(source) %>
            </p>
          <% end %>
        </div>
      <% end %>

      <% if fond.units.present? %>
        <h4><%= Unit.human_name({:count => fond.units.size}) %></h4>
        <% fond.units.each do |u| %>
          <div class="unit pbi_avoid">
            <p class="head">
              <span class="pull-left"><strong><%= u.display_sequence_number_from_hash(@display_sequence_numbers) %></strong></span>
              <span class="pull-right"><%= u.reference_number %></span>
            </p>
            <p>
              <strong><%= u.formatted_title %></strong>
              <% if u.preferred_event.present? %><br />
                <em><%= u.preferred_event.full_display_date_with_place %></em>
              <% end %>
            </p>
            <% @unit_printable_attributes.each do |attribute| %>
              <% methods = attribute.split('.') %>
              <% if u.send(methods[0].to_sym).present? %>
                <div>
                  <h5><%= t(methods[0])%></h5>
                  <% if attribute.include?('.') %>
                    <% text = u.send(methods[0].to_sym).send(methods[1].to_sym).to_s %>
                  <% else %>
                    <% text = u.send(attribute.to_sym).to_s %>
                  <% end %>
                  <%=  textilize_with_entities(text) %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <hr />
  <% end %>
</div>