<% content_for :status_bar do %>
  <h2>Report complesso archivistico<%= path_separator %><%= link_to @root_fond.name, dashboard_report_path %><%= path_separator %>Etichette unità</h2>
  <div id="links">
    <%= link_to_index "Report", reports_path %>
  </div>
<% end %>

<div class="span12">
  <p>
    <%= link_to '<i class="icon-download-alt"></i> Genera CSV', labels_report_path(@root_fond, :format => "csv"),  {:class => "csv btn btn-small"}  %>
    <%= link_to '<i class="icon-download-alt"></i> Genera XLS', labels_report_path(@root_fond, :format => "xls"),  {:class => "xls btn btn-small"}  %>
    <%= link_to '<i class="icon-download-alt"></i> Genera PDF', labels_report_path(@root_fond, :format => "pdf"),  {:class => "pdf btn btn-small"}  %>
  </p>
  <table id="labels">
    <% @units.each_slice(2) do |row| %>
      <tr>
        <% row.each do |unit| %>
          <td>
            <div class="unit-label pbi_avoid">
              <p>
                <strong><%= @root_fond.name %></strong><br />
                <%= unit.fond.name %><br />
                <em><%= unit.title %></em><br /><%= unit.preferred_event.try(:full_display_date_with_place) || "[s.d.]" %><br />
                <%= unit.reference_number %>
              </p>
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>