<% content_for :status_bar do %>
  <h2>
    <%= [
      'Report complesso archivistico',
      link_to(@fond.root.name, dashboard_report_path(@fond.root.id)),
      'Etichette unità'
    ].join(path_separator) %>
  </h2>
  <div id="links">
    <%= link_to_index "Report", reports_path %>
  </div>
<% end %>

<div class="span12">
  <div id="index-controls">
    <%= link_to '<i class="icon-download-alt"></i> Genera CSV', labels_report_path(@fond, params.merge({:format => "csv", :mode => nil})), {:class => "csv btn btn-small"} %>
    <%= link_to '<i class="icon-download-alt"></i> Genera XLS', labels_report_path(@fond, params.merge({:format => "xls", :mode => nil})), {:class => "xls btn btn-small"} %>
    <%= link_to '<i class="icon-download-alt"></i> Genera PDF', labels_report_path(@fond, params.merge({:format => "pdf", :mode => nil})), {:class => "pdf btn btn-small"} %>
  </div>

  <%= render :partial => 'subtree_selector.html', :locals => {:root_id => @fond.root.id, :fond_id => @fond.id} %>

  <%= render :partial => 'preview_disclaimer.html', :locals => {:count => @units_count} %>

  <% if @units.any? %>
    <table style="margin:auto;" id="labels">
      <% @units.each_slice(2) do |row| %>
        <tr>
          <% row.each do |unit| %>
            <td>
              <div class="unit-label pbi_avoid">
                <p>
                  <strong><%= @fond.root.name %></strong><br />
                  <%= unit.fond.name %><br />
                  <em><%= unit.title %></em><br />
                  <%= unit.preferred_event.try(:full_display_date_with_place) || "[s.d.]" %><br />
                  <%= unit.reference_number %>
                </p>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p id="turn-off-buttons">Non sono presenti unità nei livelli selezionati.</p>
  <% end %>
</div>