<% content_for :status_bar do %>
  <h2>Report complesso archivistico<%= path_separator %><%= link_to @root_fond_name, dashboard_report_path %><%= path_separator %>Struttura complesso archivistico</h2>
  <div id="links">
    <%= link_to_index "Report", reports_path %>
  </div>
<% end %>

<div class="span12">
  <div id="index-controls">
    <%= link_to '<i class="icon-download-alt"></i> Genera PDF', summary_report_path(@fond, :format => "pdf"),  {:class => "btn btn-small pdf"}  %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th><%= t('short_fond_type') %></th>
        <th><%= t('name') %></th>
        <th><%= t('date_event') %> </th>
        <th><%= t('short_units_count') %></th>
      </tr>
    </thead>
    <tbody>
      <% @fonds.each do |f| %>
        <tr>
          <td><div class="pbi_avoid"><%= f.fond_type %></div></td>
          <td><div class="pbi_avoid"><%= "&mdash;" * f.ancestry_depth %> <%= f.name %></div></td>
          <td class="fixed-large"><div class="pbi_avoid"><%= f.preferred_event.try(:full_display_date_with_place) %></div></td>
          <td><div class="pbi_avoid"><%= f.try(:units_count) %></div></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>