<% content_for :status_bar do %>
  <h2>Report complesso archivistico<%= path_separator %><%= link_to @root_fond.name, dashboard_report_path %><%= path_separator %>Lista unità per <%= t(@order).downcase  %></h2>
  <div id="links">
    <%= link_to_index "Report", reports_path %>
  </div>
<% end %>

<div class="span12">
  <div id="index-controls">
    <%= link_to '<i class="icon-download-alt"></i> Genera PDF', units_report_path(@root_fond, :format => "pdf", :order => @order),  {:class => "btn btn-small pdf"}  %>
  </div>
  <div id="order-choice">
    <p>
      Ordina per:
      <%= link_to_if @order != "sequence_number", t("sequence_number").downcase,  units_report_path(@root_fond, :order => "sequence_number") %> |
      <%= link_to_if @order != "reference_number",  t("reference_number").downcase, units_report_path(@root_fond, :order => "reference_number") %> |
      <%= link_to_if @order != "tmp_reference_string",  t("tmp_reference_string").downcase, units_report_path(@root_fond, :order => "tmp_reference_string") %>
    </p>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th><%= t(@order) %></th>
        <th><%= t("title") %></th>
        <th class="span2"><%= t("date_event") %></th>
      </tr>
    </thead>
    <tbody>
      <% @units.each do |unit| %>
        <tr>
          <td class="fixed">
            <div class="pbi_avoid">
              <strong><%= @order == "sequence_number" ? unit.display_sequence_number_from_hash(@display_sequence_numbers) : unit.send(@order.to_sym) %></strong>
            </div>
          </td>
          <td>
            <div class="pbi_avoid">
              <%= unit.formatted_title %>
              <% if unit.arrangement_note.present? %>
                <br><%= textilize_with_entities(unit.arrangement_note) %>
              <% end %>
            </div>
          </td>
          <td class="no-wrap">
            <div class="pbi_avoid"><%= unit.preferred_event.try(:full_display_date_with_place) %>
            </div>
          </td>
        </tr>
      <%  end %>
    </tbody>
  </table>
</div>
